body {

  background-color: #fff0f5; /* light pinkish/lavender tone */
  color: #253e53;
  font-family: 'Atma', cursive;
  text-align: center;
  padding: 50px;
  background-color: #cfcfc4;
}

header {
  background-color: #c2a8e6;
  color: rgb(247, 244, 247);
  padding: 15px;
  max-width: 600px;  /* limits how wide it can stretch */
  margin: 20px auto; /* centers it horizontally */
  border-radius: 10px;
}

button {
  background-color: #9ab7ff;
  color: rgb(247, 244, 244);
  border: none;
  padding: 15px 25px;
  font-size: 16px;
  border-radius: 8px;
  cursor: pointer;
}